:root {
    --square-size: 40px;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, var(--square-size));
    border: 5px double dodgerblue;
}
.square {
    width: var(--square-size);
    height: var(--square-size);
    border: 1px solid silver;
}